package service

import "fmt"

const botApiKey = ""

func GetSendMessageUrl() string {
	return fmt.Sprintf("https://api.telegram.org/bot%s/sendMessage", botApiKey)
}

func GetSendChatActionUrl() string {
	return fmt.Sprintf("https://api.telegram.org/bot%s/sendChatAction", botApiKey)
}